/* .shopping {
  position: fixed;
  text-align: center;
  right: 5%;
  top: 75px;
  z-index: 5;
  cursor: pointer;
}
.shopping svg {
  width: 50px;
}

.shopping span {
  position: absolute;
  top: -5;
  background-color: rgb(116, 17, 17);
  border-radius: 40%;
  padding: 3px 6px;
  left: 75%;
  color: white;
}
.shopping p {
  background-color: rgb(133, 16, 16);
  color: #ced6d8;
  border-radius: 8px;
  padding-bottom: 4px;
  margin-top: -10px;
} */
.card-shopping {
  position: fixed;
  top: 0;
  background: #1d110c;
  width: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100%;
  z-index: 11;
  transition: 0.5s;
  color: antiquewhite;
  right: 0;
}

.card-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid #7b9147;
  border-radius: 20%;
  margin-bottom: 30px;
}
.heading {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  font-size: 17px;
  padding-bottom: 20px;
}
.total-amount {
  text-align: center;
  letter-spacing: 3px;
}
.checkout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  cursor: pointer;
  margin: 0;
}
.total {
  font-size: 18px;
  letter-spacing: 2px;
}
.checkout div {
  height: 50px;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
  padding-top: 10px;
}
.checkout div:nth-child(1) {
  background: #112b5e;
  color: #fff;
}
.checkout div:last-child {
  background: #323d1a;
}
.listItems {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  width: 60%;
  padding: 0 0 20px 20px;
}
.listItems img {
  border-radius: 5px;
}
.details {
  margin-left: -40px;
}
.gapping {
  padding: 3px;
}
.cardGroup {
  display: flex;
}
.cardGroup .counter {
  margin-left: 60px;
}
.counter p {
  margin-left: 6px;
}
button {
  background-color: #28330f;
  color: #ced6d8;
  border-radius: 5px;
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  .shopping svg {
    width: 40px;
  }
  .card-shopping {
    width: 400px;
  }
}
@media screen and (max-width: 400px) {
  .shopping svg {
    width: 30px;
  }
  .card-shopping {
    width: 340px;
  }
  .details {
    padding-left: 35px;
  }
}
